infra/step-function/pipeline.asl.json
{
  "Comment": "FIDE scraping pipeline: ensure_run_name -> federations -> tournaments -> parallel(split_ids, player_list) -> Map(details+reports) -> merge -> validate",
  "StartAt": "EnsureRunName",
  "States": {
    "EnsureRunName": {
      "Type": "Task",
      "Resource": "${EnsureRunNameFunctionArn}",
      "Parameters": {
        "input.$": "$"
      },
      "ResultPath": "$",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "Next": "Federations"
    },
    "Federations": {
      "Type": "Task",
      "Resource": "${FederationsFunctionArn}",
      "Parameters": {
        "bucket.$": "$.bucket",
        "override.$": "$.override"
      },
      "ResultPath": "$.federations",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "Next": "Tournaments"
    },

    "Tournaments": {
      "Type": "Task",
      "Resource": "${TournamentsFunctionArn}",
      "Parameters": {
        "year.$": "$.year",
        "month.$": "$.month",
        "run_type.$": "$.run_type",
        "run_name.$": "$.run_name",
        "bucket.$": "$.bucket",
        "override.$": "$.override"
      },
      "ResultPath": "$.tournaments",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "Next": "ParallelSplitIdsAndPlayerList"
    },

    "ParallelSplitIdsAndPlayerList": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "SplitIds",
          "States": {
            "SplitIds": {
              "Type": "Task",
              "Resource": "${SplitIdsFunctionArn}",
              "Parameters": {
                "run_type.$": "$.run_type",
                "run_name.$": "$.run_name",
                "bucket.$": "$.bucket",
                "override.$": "$.override",
                "chunk_size.$": "$.chunk_size"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "PlayerList",
          "States": {
            "PlayerList": {
              "Type": "Task",
              "Resource": "${PlayerListFunctionArn}",
              "Parameters": {
                "bucket.$": "$.bucket",
                "override.$": "$.override"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallel_split_player",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "Next": "CheckSplitIdsSuccess"
    },

    "CheckSplitIdsSuccess": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parallel_split_player[0].success",
          "BooleanEquals": false,
          "Next": "SplitIdsFailed"
        }
      ],
      "Default": "CheckMaxConcurrency"
    },

    "CheckMaxConcurrency": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.max_concurrency",
          "IsPresent": true,
          "Next": "MapDetailsAndReports"
        }
      ],
      "Default": "EnsureMaxConcurrency"
    },

    "EnsureMaxConcurrency": {
      "Type": "Pass",
      "Parameters": {
        "year.$": "$.year",
        "month.$": "$.month",
        "run_type.$": "$.run_type",
        "run_name.$": "$.run_name",
        "bucket.$": "$.bucket",
        "override.$": "$.override",
        "federations.$": "$.federations",
        "tournaments.$": "$.tournaments",
        "parallel_split_player.$": "$.parallel_split_player",
        "max_concurrency": 5
      },
      "Next": "MapDetailsAndReports"
    },

    "SplitIdsFailed": {
      "Type": "Fail",
      "Error": "SplitIdsFailed",
      "CausePath": "$.parallel_split_player[0].error"
    },

    "MapDetailsAndReports": {
      "Type": "Map",
      "ItemsPath": "$.parallel_split_player[0].chunks",
      "MaxConcurrencyPath": "$.max_concurrency",
      "ItemSelector": {
        "run_type.$": "$$.Map.Item.Value.run_type",
        "run_name.$": "$$.Map.Item.Value.run_name",
        "chunk_index.$": "$$.Map.Item.Value.chunk_index",
        "chunk_count.$": "$$.Map.Item.Value.chunk_count",
        "bucket.$": "$$.Execution.Input.bucket",
        "override.$": "$$.Execution.Input.override"
      },
      "Iterator": {
        "StartAt": "DetailsChunk",
        "States": {
          "DetailsChunk": {
            "Type": "Task",
            "Resource": "${DetailsChunkFunctionArn}",
            "Parameters": {
              "run_type.$": "$.run_type",
              "run_name.$": "$.run_name",
              "chunk_index.$": "$.chunk_index",
              "chunk_count.$": "$.chunk_count",
              "bucket.$": "$.bucket",
              "override.$": "$.override"
            },
            "ResultPath": "$.details_result",
            "Retry": [
              {
                "ErrorEquals": ["Lambda.TooManyRequestsException"],
                "IntervalSeconds": 10,
                "MaxAttempts": 6,
                "BackoffRate": 2
              },
              {
                "ErrorEquals": ["Lambda.ServiceException"],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2
              },
              {
                "ErrorEquals": [
                  "Lambda.ClientExecutionTimeoutException",
                  "Lambda.SdkClientException",
                  "Lambda.Unknown"
                ],
                "IntervalSeconds": 30,
                "MaxAttempts": 5,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "ResultPath": "$.error",
                "Next": "ChunkFailed"
              }
            ],
            "Next": "ReportsChunk"
          },
          "ReportsChunk": {
            "Type": "Task",
            "Resource": "${ReportsChunkFunctionArn}",
            "Parameters": {
              "run_type.$": "$.run_type",
              "run_name.$": "$.run_name",
              "chunk_index.$": "$.chunk_index",
              "chunk_count.$": "$.chunk_count",
              "bucket.$": "$.bucket",
              "override.$": "$.override",
              "save_raw": true
            },
            "Retry": [
              {
                "ErrorEquals": ["Lambda.TooManyRequestsException"],
                "IntervalSeconds": 10,
                "MaxAttempts": 6,
                "BackoffRate": 2
              },
              {
                "ErrorEquals": ["Lambda.ServiceException"],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2
              },
              {
                "ErrorEquals": [
                  "Lambda.ClientExecutionTimeoutException",
                  "Lambda.SdkClientException",
                  "Lambda.Unknown"
                ],
                "IntervalSeconds": 30,
                "MaxAttempts": 5,
                "BackoffRate": 2
              }
            ],
            "End": true
          },
          "ChunkFailed": {
            "Type": "Pass",
            "Result": {"error": "Chunk processing failed"},
            "End": true
          }
        }
      },
      "ResultPath": "$.map_results",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "Next": "MergeChunks"
    },

    "MergeChunks": {
      "Type": "Task",
      "Resource": "${MergeChunksFunctionArn}",
      "Parameters": {
        "run_type.$": "$.run_type",
        "run_name.$": "$.run_name",
        "bucket.$": "$.bucket",
        "override.$": "$.override"
      },
      "ResultPath": "$.merge",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "Next": "Validate"
    },

    "Validate": {
      "Type": "Task",
      "Resource": "${ValidateFunctionArn}",
      "Parameters": {
        "run_type.$": "$.run_type",
        "run_name.$": "$.run_name",
        "bucket.$": "$.bucket"
      },
      "ResultPath": "$.validate",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailed"
        }
      ],
      "Next": "Success"
    },

    "Success": {
      "Type": "Succeed"
    },

    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "FIDE pipeline execution failed. Check state output for details."
    }
  }
}
